.about-cardwall.grid_11{:id => "sprint-#{ @card_wall.id }"}
  %h2= @card_wall.name
  %button.icon.add Add Column
  %button.remove Remove Sprint

.clear
#backlog.grid_2
  %div
    %button.icon.add Add Card
  .backlog-box
    -@backlog.cards.each do |card|
      .card.in-backlog{:id => "card-#{ card.id }"}= card.description
%table.cardwall.grid_10
  %thead
    %tr
      -@card_wall.swim_lanes.each do |swim_lane|
        %th{:id => "header-swim-lane-#{ swim_lane.id }"}
          %span.lane-title= swim_lane.name
          %button.icon.delete Delete
  %tbody
    %tr.expedited
      -@card_wall.swim_lanes.each do |swim_lane|
        %td{:id => "expedited-swim-lane-#{ swim_lane.id }"}
          -swim_lane.cards.expedited.each do |card|
            .card.in-swim-lane{:id => "card-#{ card.id }"}= card.description
    %tr.regular
      -@card_wall.swim_lanes.each do |swim_lane|
        %td{:id => "regular-swim-lane-#{ swim_lane.id }"}
          -swim_lane.cards.regular.each do |card|
            .card.in-swim-lane{:id => "card-#{ card.id }"}= card.description

#skeletons
  .card-detail.popup
    %textarea.description{:maxlength => 140}
    %button.save Save
    %button.delete Delete
  .card-new.popup
    %textarea.description{:maxlength => 140}
    %button.save Save
    %button.cancel Cancel
  .sprint-new.popup
    %input.name
    %button.save Save
    %button.cancel Cancel
